@import "../../util/conf.scss";

.nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  box-shadow: 2px 0px 20px -9px rgba(120, 120, 120, 1);
  float: left;
  background: $white;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  background: linear-gradient(20deg,
      rgba(97, 27, 104, 1) 20%,
      rgba(150, 28, 166, 1) 80%);
  padding: 100px 0;
  z-index: 99999;

  @media (max-width: $mediaPhoneSize) {
    width: 100%;
    height: 60px;
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 999;
    box-shadow: 2px 0px 20px -9px rgba(120, 120, 120, 1);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0;
    padding: 0;
  }

  .nav__logo {
    width: 70px;
    margin-top: 200px;
    height: 100px;
    margin: 0 15px;
    background: url("../../../img/logo.png") center center no-repeat;
    background-size: 100% auto;

    @media (max-width: $mediaPhoneSize) {
      display: none;
    }
  }

  .nav__links {
    position: absolute;
    top: 55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    height: 50%;
    justify-content: space-between;

    @media (max-width: $mediaPhoneSize) {
      top: 40%;
      width: 100%;
      padding: 0 30px;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px 0;
      height: auto;
    }

    li {
      list-style-type: none;
      text-align: center;
      padding: 10px 0;
      width: 80px;
      overflow: hidden;
      font-size: 14px;
      margin: 10px 0;

      @media (max-width: $mediaPhoneSize) {
        float: left;
        width: 60px;
        padding: 0;
        margin: 0 2px;
        display: inline-block;
        line-height: 16px;
        font-size: 12px;
      }

      .nav__link {
        color: $white;
        text-decoration: none;
        font-size: 36px;
      }
    }
  }
}