@import "../../util/conf.scss";

.header {
  width: 100vw;
  z-index: 9999;
  background: $white;
  min-height: 70px;

  @media (max-width: $mediaTabletSize) {
    height: 140px;
  }

  .logo_header {
    width: 400px;
    height: 50px;
    top: 10px;
    right: 50%;
    position: absolute;
    background: url("../../../img/full_logo.png") center center no-repeat;
    background-size: auto 100%;
    transform: translateX(50%);

    @media (max-width: $mediaTabletSize) {
      width: 100%;
    }
  }
  .buttons_header {
    top: 12.5px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    right: 30px;
    position: absolute;

    @media (max-width: $mediaTabletSize) {
      width: 500px;
      top: 75px;
      right: 50%;
      transform: translateX(calc(50% + 50px));
    }

    @media (max-width: $mediaPhoneSize) {
      width: 100vw;
      transform: translateX(50%);
    }

    .nav__link {
      color: $white;
      text-decoration: none;
    }
    .button__primary--header {
      height: 45px;
      margin: 0 10px;
      color: $white;
      font-weight: 900;
      font-size: 12pt;

      @media (max-width: $mediaTabletSize) {
        margin: 0 20px;
      }
      @media (max-width: $mediaPhoneSize) {
        margin: 0 10px;
      }
    }
  }

  .user_menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: relative;
    right: 40px;

    @media (max-width: $mediaPhoneSize) {
      margin-top: 80px;
      justify-content: center;
      right: 0;
    }

    .user_favorites {
      text-decoration: none;
      color: $gray;
      margin-right: 40px;
      align-self: center;
      font-size: 18pt;

      :hover {
        color: $purple;
      }
    }

    .user_name {
      justify-content: center;
      align-self: center;
      font-size: 14pt;
      font-weight: 900;
    }

    .user_avatar {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      border-radius: 25px;
      cursor: pointer;
    }

    .user_menu_popup {
      width: 250px;
      background: $white;
      position: absolute;
      margin-top: 60px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 6px 11px 0px #555555;
      border-radius: 20px;
      padding: 10px;

      .edit_profile {
        text-decoration: none;
        color: $gray;
        align-self: center;
        padding: 5px;
        margin: 10px 0;
        font-weight: 600;

        &:hover {
          color: $purple;
          font-weight: 900;
        }
      }

      .button__primary--logout {
        font-weight: 900;
      }

      &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: -10px;
        width: 30px;
        height: 30px;
        display: block;
        transform: rotate(45deg);
        background: inherit;
        box-shadow: 0px -9px 20px -15px #585858;
      }
    }

    .active {
      display: flex;
    }

    .inactive {
      display: none;
    }
  }
}
