@import "../../../shared/util/conf.scss";
.button__primary {
  background: linear-gradient(
    110deg,
    rgba(97, 27, 104, 1) 20%,
    rgba(150, 28, 166, 1) 80%
  );
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  border: none;
  color: $white;
}
