@import "./../shared/util/conf.scss";

.add-new-object-wrapper {
  position: relative;
  padding-left: 100px;
  padding-bottom: 90px;
  width: 100%;
  position: relative;

  @media (max-width: $mediaPhoneSize) {
    padding-left: 0;
    margin-top: 0;
  }

  .add-new-object-form {
    padding: 0 100px;

    @media (max-width: $mediaPhoneSize) {
      padding: 0 10px;
    }

    .button__primary--register {
      font-weight: 900;
      margin-bottom: 20px;
    }
  }

  p.alert {
    color: red;
    text-align: center;
    width: 100%;
  }

  .alert {
    text-align: center;
  }
}
